.app {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px
}

.app, .array {
  display: flex
}

.array {
  align-items: flex-end
}

.buttons {
  padding-top: 20px
}

.buttons > button:first-child {
  margin-right: 15px
}

.element {
  background-color: #faebd7;
  border-radius: 4px;
  border: 1px solid #c7b7a3;
  width: 10px;
  display: inline-block
}
