* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f0f0f0;
}

#middleCircleArc {
  animation: middleCircleArcMovement 1s cubic-bezier(.17,.67,.83,.67) infinite;
  transform-origin: center center;
}

#innerCircleArc {
  animation: innerCircleArcMovement 3s linear infinite;
  transform-origin: center center;
}

@keyframes middleCircleArcMovement {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes innerCircleArcMovement {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}
