.calendar {
  display: grid;
  font-family: sans-serif;
  width: 400px;
}

.calendar__header {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.calendar__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.calendar__button {
  text-align: center;
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__day {
  text-align: center;
  padding: 1rem;
}

.calendar__dates {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid #333;
}

.calendar__date {
  box-sizing: border-box;
  padding: 1rem;

  text-align: center;
  border: 1px solid #333;
}

.calendar__date--faded {
  color: #ccc;
}
